.EventDetailsPage {
    width: 100vw;
    height: 100vh;
    background-color: #231F42;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.EventDetailsPage h3, 
.EventDetailsPage h2 {
    font-family: Sansita;
    color: #F56B9A;
}

.EventDetailsPage h3 {
    font-size: 2rem;
}

.EventDetailsPage h2 {
    font-size: 2.5rem;
}

.EventDetailsPage p {
    font-family: fira sans;
}