.EventDetailsPage {
    width: 100vw;
    height: 100vh;
    background-color: #231F42;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EventDetailsPage h3, 
.EventDetailsPage h2 {
    font-family: Sansita;
    color: #F56B9A;
}

.EventDetailsPage h3 {
    font-size: 2rem;
    margin: 2rem;
}

.HeadText {
    font-size: 1.2rem;
    font-style: italic;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.EventDetailsPage h2 {
    font-size: 2.5rem;
    margin: 2rem 0 0 0;
}

.TealText {
    font-size: 1.2rem;
    color: #37AEAB;
    font-weight: 600;
    margin: 0.5rem;
}

.LocationText {
    font-style: italic;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 6rem 0;
}

.EventDetailsPage p {
    font-family: fira sans;
}